
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #A5A5AF; 
  color: #ffffff; 
}
#navbar {
  background-color: #77C9D4; 
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
}
.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  padding: 20px;
}
.workout {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  background-color: #202080; 
  border-radius: 10px;
  padding: 20px;
}
.api {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  background-color: #202080;
  border-radius: 10px;
  padding: 20px;
}
.comments {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
  background-color: #202080;
  border-radius: 10px;
  padding: 20px;
}
#body-diagram-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.neck-line {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #57BC90;
  top: 70px; 
  left: 0px;
  width: 100px; 
  transition: background-color 0.3s ease; 
}
.neck-button {
  position: absolute;
  left: -100px;
  top: 55px; 
  transition: background-color 0.3s ease;
  color: white;
  background-color: #57BC90;
  border-radius: 25px;
  width: 100px;
  border-color: transparent;
}
.neck-button:hover {
  background-color: #36755a;
}
.neck-button:hover + .neck-line {
  background-color: #36755a;
}
.upper-arms-line {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #57BC90;
  top: 100px; 
  left: 140px;
  width: 70px;
  transition: background-color 0.3s ease;
  border-color:transparent;
}
.upper-arms-button {
  position: absolute;
  left: 200px;
  top: 90px; 
  transition: background-color 0.3s ease;
  color: white;
  background-color: #57BC90;
  border-radius: 25px;
  width: 100px;
  border-color: transparent;
}
.upper-arms-button:hover {
  background-color: #36755a;
}
.upper-arms-button:hover + .upper-arms-line {
  background-color: #36755a;
}
.chest-line {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #57BC90;
  top: 125px; 
  left: -25px;
  width: 125px;
  transition: background-color 0.3s ease;
}
.chest-button {
  position: absolute;
  left: -100px; 
  top: 110px;
  transition: background-color 0.3s ease;
  background-color: #57BC90;
  border-radius: 25px;
  width: 100px;
  color:white;
  border-color: transparent;
}

.chest-button:hover {
  background-color: #36755a;

}

.chest-button:hover + .chest-line {
  background-color: #36755a;
}
.lower-arms-line {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color:#57BC90;
  top: 200px;
  left: 160px;
  width: 50px;
  transition: background-color 0.3s ease;
  
}
.lower-arms-button {
  position: absolute;
  left: 200px;
  top: 180px;
  transition: background-color 0.3s ease;
  color: white;
  background-color: #57BC90;
  border-radius: 25px;
  width: 100px;
  border-color: transparent;
}
.lower-arms-button:hover {
  background-color: #36755a;
}

.lower-arms-button:hover + .lower-arms-line {
  background-color: #36755a;
}
.upper-legs-button {
  position: absolute;
  left: -55px;
  top: 250px; 
  transition: background-color 0.3s ease; 
  color: white;
  background-color: #57BC90;
  border-radius: 25px;
  width: 100px;
  border-color: transparent;
}
.upper-legs-line {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #57BC90;
  top: 265px;
  left: 40px; 
  width: 50px; 
  transition: background-color 0.3s ease;
}
.upper-legs-button:hover + .upper-legs-line {
  background-color: #36755a;
}
.lower-legs-button {
  position: absolute;
  left: 200px; 
  top: 320px; 
  transition: background-color 0.3s ease; 
  color: white;
  background-color: #57BC90;
  width:100px;
  border-radius: 25px;
  border-color: transparent;
}
.lower-legs-line {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #57BC90;
  top: 342px; 
  left: 120px;
  width: 120px;
  transition: background-color 0.3s ease; 
  border-radius: 25px;
}
.lower-legs-button:hover + .lower-legs-line{
  background-color: #36755a;
}
.upper-legs-button:hover {
  background-color: #36755a;

}
.lower-legs-button:hover{
  background-color: #36755a;
}
.selected-workouts {
  position: absolute !important; 
  top: 20px; 
  left: 20px;
  background-color: #ffffff; 
  color: #000000; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  padding: 15px; 
  width: 200px !important;
  height: auto; 
  overflow-y: auto; 
  z-index: 100;
}

.selected-workouts h3 {
  margin-top: 0 !important;
  font-size: 1.2rem;
  color: #313186; 
}

.selected-workouts div {
  margin-bottom: 10px; 
  font-size: 0.9rem;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
  z-index: 999; /* Overlay sits behind the modal but above the content */
}
.modal2 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:#015249 ;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  z-index: 1000;
  padding: 20px;
  width: 400px;
  max-height: 80vh;
  overflow-y: auto;
  border-radius: 25px;
}
.add-to-workout-btn{
  background-color: #013f38;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
}
.add-to-workout-btn:hover{
  background-color: #012e29;
}
.modal2-content {
  display: flex;
  flex-direction: column;
}
.search-bar-container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  position: absolute;
  top: 780px; /* Adjust this value to move it higher or lower */
  width: 100%;
  z-index: 1; /* Ensures it's above other elements */
}
.caption-container{
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  position: absolute;
  top: 755px; /* Adjust this value to move it higher or lower */
  width: 100%;
  z-index: 1; /* Ensures it's above other elements */
}
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.search-bar {
  padding: 10px;
  margin-right: 10px;
  border-radius: 25px;
  border: 1px solid #ccc;
  width: 200px;
}

.search-button {
  padding: 10px 20px;
  border: none;
  background-color: #57BC90;
  color: white;
  border-radius: 25px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #36755a;
}

  .close-button2 {
    align-self: flex-end;
    color: #012e29;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: transparent;
  }
.close-button2:hover{
  color:red;
}

.modal3-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  position: relative;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}
.selected-workouts-button {
  position: absolute;
  top:60px;  
  right:0px; 
  z-index: 10;}
.selected-workouts-button{
  background-color: #57BC90; 
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 25px;

}

.selected-workouts-button:hover {
  background-color: #36755a;
}